@charset "UTF-8";
/* CSS Document */

/*Icon Set
---------------------------------------------------------*/
.icon {
	color:white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

/*Point of Care Icons*/

#poc-Icon-small {
	background-color: #fa8400;
	font-size: 2.000em;
	padding: 0.4em;
}

#poc-Icon-medium {
	background-color:#fa8400;
	font-size: 2.000em;
	padding: 0.625em;
}

#poc-Icon-large {
	background-color:#fa8400;
	font-size: 2.000em;
	padding: 0.625em;
}

/*---------------------------------------------------------*/

